table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:hover {
    background-color: #dfdcdc
}
th {
    background-color: #4CAF50;
    color: white;
}